<% provide(:title, "Edit user") %>
<h1>ユーザー情報編集</h1>
<div class="container">
    <div class="row">
    <div class="span6 offset3">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            
              <%= f.label :name %>
              <%= f.text_field :name %>

              <%= f.label :email %>
              <%= f.text_field :email %>
        
              <%= f.label :password %>
              <%= f.password_field :password %>
        
              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation %>

        <%= f.submit "変更を保存", class: "btn btn-large btn-primary" %>
        <% end %>
        
        <div class="user_margin1">
            <%= gravatar_for @user %>
        </div>
        <div class="user_margin1">
            <a href="http://gravatar.com/emails">change</a>
        </div>
    </div>
</div>
</div>
