<div class="container">
  <div class="row">
    <div>
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </div>
    
    
    <div class="col-md-6 col-md-offset-3">
      <% if logged_in? %>
          <div>
            <span><%= link_to "新規アイテムを登録", new_item_path, class: "btn btn-primary user_btn1" %></span>
            <span class="user_padding2"><%= link_to "現在借りているアイテムはこちら", users_show_borrowing_path %></span>
          </div>
          <div class="container">
              <div class="user_padding1">
                  <%= page_entries_info @items %>
              </div>
              <div>
                  <%= paginate @items %>
              </div>
          </div>
          <% if @user.items.any? %>
            <h3>掲載アイテム (個数: <%= @user.items.count %>)</h3>
            <ul class="items">
              <%= render @items %>
            </ul>
          <% end %>
      <% else %>
          <%= link_to "こちらからログインして下さい。", login_path %>
      <% end %>

    </div>
    


  </div>
</div>
