<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <div>
      <p><%= link_to "現在借りているアイテムはこちら", "#" %></p>
    </div>
  </aside>
  <div class="col-md-8">
    <p><%= link_to "新規アイテムを登録", new_item_path, class: "btn btn-primary" %></p>
    <% if @user.items.any? %>
      <h3>掲載アイテム一覧 (個数: <%= @user.items.count %>)</h3>
      <ol class="items">
        <%= render @items %>
      </ol>
    <% end %>
  </div>
</div>