
  <div>
    <li id="item-<%= item.id %>" class="user_border3 media user_margin9">
      <% if @borrowed_items.include?(item.id) %>
        <div class="user_title center">
          <h4>貸し出し中</h4>
        </div>
        <% if item.avatar? %>
            <div class="pull-left">
              <%= image_tag item.avatar.thumb.url %>
            </div>
          <% else %>
            <div class="pull-left">
              <%= image_tag("noimage.gif" ,  alt: "no-image") %>
            </div>
          <% end %>
          
          <div class="media-body">
              <div>タイトル: <%= item.title %></div>
              <div>有効期間: <%= item.start_day %> 〜 <%= item.end_day %></div>
          </div>    
      <% else %>
          <% if item.avatar? %>
            <div class="pull-left">
              <%= image_tag item.avatar.thumb.url %>
            </div>
          <% else %>
            <div class="pull-left">
              <%= image_tag("noimage.gif" ,  alt: "no-image") %>
            </div>
          <% end %>
          
          <div class="media-body">
              <div>タイトル: <%= item.title %></div>
              <div>有効期間: <%= item.start_day %> 〜 <%= item.end_day %></div>
              <div class="">
              <%#= time_ago_in_words(item.created_at) %>
              <% if current_user == item.user %>
                  <div class="user_margin10">
                    <%= link_to "編集", edit_item_path(item), class: "btn btn-primary" %>
                  </div>
                  <div class="user_margin10">
                    <%= link_to "削除", item, method: :delete,
                                                     data: { confirm: "本当に削除してよろしいですか?" }, class: "btn btn-danger" %>
                  </div>
              <% end %>
              </div>
          </div>    
      <% end %>
      
          
    </li>
  </div>


