<div class="container">
  <li id="item-<%= item.id %>">
    <div class="img-wrap">
              <% if item.avatar? %>
              <%= image_tag item.avatar.thumb.url %>
              <% else %>
              <!--<span>No image</span>-->
              <%= image_tag("noimage.gif" ,  alt: "no-image") %>
              <% end %>
    </div>
            
    <span class="title">タイトル: <%= item.title %></span>
    <span class="title">有効期間: <%= item.start_day %> 〜 <%= item.end_day %></span>
    <span class="timestamp">
      <%#= time_ago_in_words(item.created_at) %>
      <% if current_user == item.user %>
        <%= link_to "編集", edit_item_path(item)%> | 
        <%= link_to "削除", item, method: :delete,
                                         data: { confirm: "本当に削除してよろしいですか?" } %>
      <% end %>
    </span>
  </li>
</div>
