<li id="item-<%= item.id %>">
  <%= link_to gravatar_for(item.user, size: 50), item.user %>
  <span class="user"><%= link_to item.user.name, item.user %></span>
  <span class="content"><%= item.title %></span>
  <span class="timestamp">
    <%= time_ago_in_words(item.created_at) %> に登録されたアイテム。
    <% if current_user == item.user %>
      <%= link_to "削除", item, method: :delete,
                                       data: { confirm: "本当に削除してよろしいですか?" } %>
    <% end %>
  </span>
</li>