<!--<div class="container">-->
  <div>
    <li id="item-<%= item.id %>">
      <div class="media">
                <% if item.avatar? %>
                  <div>
                    <%= image_tag item.avatar.thumb.url %>
                  </div>
                <% else %>
                  <div>
                    <%= image_tag("noimage.gif" ,  alt: "no-image") %>
                  </div>
                <% end %>
      </div>
              
      <div>タイトル: <%= item.title %></div>
      <div>有効期間: <%= item.start_day %> 〜 <%= item.end_day %></div>
      <div class="">
        <%#= time_ago_in_words(item.created_at) %>
        <% if current_user == item.user %>
          <%= link_to "編集", edit_item_path(item)%> | 
          <%= link_to "削除", item, method: :delete,
                                           data: { confirm: "本当に削除してよろしいですか?" } %>
        <% end %>
      </div>
    </li>
  </div>

<!--</div>-->
