<div class="bg-info user_padding1 user_margin6">
    <h1>モノを探す</h1>
</div>

<div class="container user_margin6">
    <div class = "row user_padding1">
        <div class="col-md-6 col-md-offset-3 media-list">
            <%= search_form_for(@q, url: items_found_item_path, method: :get) do |f| %>
            <%#= search_form_for @q do |f| %>
                <div>
                    <%= f.label :title_cont, "アイテム名" %>
                    <%#= f.search_field :title_eq %>
                    <%= f.search_field :title_cont %>
                </div>
                <div>
                    <%= f.label :category, "カテゴリー" %>
                    <%#= f.search_field :title %>
                    <%= f.select :category, {"家電、カメラ、AV機器" => "c1",
                               "パソコン・オフィス用品" => "c2", 
                               "ホーム＆キッチン・ペット・DIY" => "c3", 
                               "ヘルス＆ビューティー" => "c4", 
                               "ベビー・おもちゃ・ホビー" => "c5", 
                               "ファッション・バッグ・腕時計" => "c6", 
                               "スポーツ＆アウトドア" => "c7", 
                               "車＆バイク・産業・研究開発" => "c8" },
                               :include_blank => true %>
                </div>
                <div>
                     <%= f.label :start_day, "アイテム利用可能開始日" %>
                     <%= f.date_field :start_day %>
                </div>
                <div>
                     <%= f.label :end_day, "アイテム利用終了日" %>
                     <%= f.date_field :end_day %>
                </div>
                <%= f.submit "探す" %>
            <% end %>
        </div>
    </div>
        
</div>

<div id="category" class="user-color4">
    <div class="center user_padding1">
        <h3>アイテムカテゴリー</h3>
    </div>
    <%= render 'layouts/categorylist' %>  
</div>

<%#= render 'layouts/categorylist' %>

<%= render 'layouts/footer' %>

