<h1>item_ranking</h1>

<div class="container">
    <div>
        <%#= page_entries_info @items %>
    </div>
    <div>
        <%#= paginate @items %>
    </div>
</div>
        
        
<div class="row">
      <div>
        <% if logged_in? %>
                <ul class="col-md-6 col-md-offset-3 media-list">
                  
                    <% @ranking.each do | item | %>
                          <!--追加 -->
                          <% if current_user.borrowing?(item) %>
                              <p>
                                <strong>Image:</strong>
                                <% if item.avatar? %>
                                  <div class="thumbnail">
                                    <%= image_tag item.avatar.thumb.url %>
                                  </div>
                                <% else %>
                                  <div class="thumbnail">
                                    <%= image_tag("noimage.gif" , "alt: no-image") %>
                                  </div>
                                <% end %>
                              </p>
                            <span class="title">タイトル: <%= link_to item.title, item_path(item.id) %></span></br>
                            <strong class="user_title">予約中</strong>
                            <hr/>
                          <!--追加終了-->
                        
                        <% elsif current_user.items.include?(item) %>
                          <li class="media">
                            <p>
                              <strong>Image:</strong>
                                <% if item.avatar? %>
                                  <div class="thumbnail">
                                    <%= image_tag item.avatar.thumb.url %>
                                  </div>
                                <% else %>
                                  <div class="thumbnail">
                                    <%= image_tag("noimage.gif" ,  alt: "no-image") %>
                                  </div>
                                <% end %>
                            </p>
                          <span class="title">タイトル: <%= link_to item.title, item_path(item.id) %></span></br>
                          <span class="title">有効期間: <%= item.start_day %> 〜 <%= item.end_day %></span></br>
                          <strong class="user_title">所有</strong>
                          <hr/>
                          </li>
                          
                          <% else %>
                          <li class="media">
                             <p>
                              <strong>Image:</strong>
                                <% if item.avatar? %>
                                  <div class="thumbnail">
                                    <%= image_tag item.avatar.thumb.url %>
                                  </div>
                                <% else %>
                                  <div class="thumbnail">
                                    <%= image_tag("noimage.gif" ,  alt: "no-image") %>
                                  </div>
                                <% end %>
                            </p>
                            <span class="title">タイトル: <%= link_to item.title, item_path(item.id) %></span></br>
                            <span class="title">有効期間: <%= item.start_day %> 〜 <%= item.end_day %></span></br>
                            <%= link_to "借りたい", item_path(item.id), class: "btn btn-large btn-primary" %>
                          <hr/>
                         </li>
                        <% end %>
                    <% end %>
                </ul>

        <% else %>
                 <ul class="col-md-6 col-md-offset-3 media-list">
                    <% @ranking.each do | item | %>
                          <li class="media">
                             <p>
                              <strong>Image:</strong>
                                <% if item.avatar? %>
                                  <div class="thumbnail">
                                    <%= image_tag item.avatar.thumb.url %>
                                  </div>
                                <% else %>
                                  <div class="thumbnail">
                                    <%= image_tag("noimage.gif" ,  alt: "no-image") %>
                                  </div>
                                <% end %>
                            </p>
                            <span class="title">タイトル: <%= link_to item.title, item_path(item.id) %></span></br>
                            <span class="title">有効期間: <%= item.start_day %> 〜 <%= item.end_day %></span></br>
                            <%= link_to "借りたい", login_path, class: "btn btn-large btn-primary" %>
                          <hr/>
                         </li>
                    <% end %>
                </ul>

        <% end %>
      </div>
</div>