<div class="container">
       <div id="category_list1" class="row">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category1.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><a href="#">家電、カメラ、AV機器</a></p>
                </div>
            </div>
            
             <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category2.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><a href="#">パソコン・オフィス用品</a></p>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category3.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><a href="#">ホーム＆キッチン・ペット・DIY</a></p>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category4.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><a href="#">ヘルス＆ビューティー</a></p>
                </div>
            </div>
       </div>
       
       <div id="category_list2" class="row user_padding1">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category5.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><a href="#">家電、カメラ、AV機器</a></p>
                </div>
            </div>
            
             <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category6.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><a href="#">パソコン・オフィス用品</a></p>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category7.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><a href="#">ホーム＆キッチン・ペット・DIY</a></p>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category8.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><a href="#">ヘルス＆ビューティー</a></p>
                </div>
            </div>
       </div>
</div> 