<div class="container">
       <div id="category_list1" class="row">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category1.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><%= link_to '家電、カメラ、AV機器', items_item_category_path(category: "c1"),
                                                           :method => :get %></p>
                </div>
            </div>
            
             <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category2.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><%= link_to 'パソコン・オフィス用品', items_item_category_path(category: "c2"),
                                                           :method => :get %></p>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category3.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><%= link_to 'ホーム＆キッチン・ペット・DIY', items_item_category_path(category: "c3"),
                                                           :method => :get %></p>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category4.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><%= link_to 'ヘルス＆ビューティー', items_item_category_path(category: "c4"),
                                                           :method => :get %></p>
                </div>
            </div>
       </div>
       
       <div id="category_list2" class="row user_padding1">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category5.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><%= link_to 'ベビー・おもちゃ・ホビー', items_item_category_path(category: "c5"),
                                                           :method => :get %></p>
                </div>
            </div>
            
             <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category6.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><%= link_to 'ファッション・バッグ・腕時計', items_item_category_path(category: "c6"),
                                                           :method => :get %></p>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category7.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><%= link_to 'スポーツ＆アウトドア', items_item_category_path(category: "c7"),
                                                           :method => :get %></p>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="img-rounded user_category_list">
                    <img src="<%= asset_path "category8.jpg" %>" />
                </div>
                <div class="caption user_category_list">
                    <p><%= link_to '車＆バイク・産業・研究開発', items_item_category_path(category: "c8"),
                                                           :method => :get %></p>
                </div>
            </div>
       </div>
</div> 