<div class="container">
       <div id="category_list1" class="row user_padding4">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="user_category_list user_padding6">
                    <%= link_to image_tag("category_1.png", class: "img-responsive user_margin3", alt: "Responsive image" ), items_item_category_path(category: "c1", :method => :get) %>
                </div>
            </div>
            
             <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="user_category_list user_padding6">
                    <%= link_to image_tag("category_2.png", class: "img-responsive user_margin3", alt: "Responsive image" ), items_item_category_path(category: "c2", :method => :get) %>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="user_category_list user_padding6">
                    <%= link_to image_tag("category_3.png", class: "img-responsive user_margin3", alt: "Responsive image" ), items_item_category_path(category: "c3", :method => :get) %>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="user_category_list user_padding6">
                    <%= link_to image_tag("category_4.png", class: "img-responsive user_margin3", alt: "Responsive image" ), items_item_category_path(category: "c4", :method => :get) %>
                </div>
            </div>
       </div>
       
       <div id="category_list2" class="row user_padding5">
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="user_category_list user_padding6">
                    <%= link_to image_tag("category_5.png", class: "img-responsive user_margin3", alt: "Responsive image" ), items_item_category_path(category: "c5", :method => :get) %>
                </div>
            </div>
            
             <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="user_category_list user_padding6">
                    <%= link_to image_tag("category_6.png", class: "img-responsive user_margin3", alt: "Responsive image" ), items_item_category_path(category: "c6", :method => :get) %>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="user_category_list user_padding6">
                    <%= link_to image_tag("category_7.png", class: "img-responsive user_margin3", alt: "Responsive image" ), items_item_category_path(category: "c7", :method => :get) %>
                </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-md-4">
                <div class="user_category_list user_padding6">
                    <%= link_to image_tag("category_8.png", class: "img-responsive user_margin3", alt: "Responsive image" ), items_item_category_path(category: "c8", :method => :get) %>
                </div>
            </div>
       </div>
</div> 