<nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
        <!--<nav class="navbar navbar-default navbar-static-top" >-->
            <div class="collapse navbar-collapse" id="collapse-target">
                <!--<div class="container">-->
                <ul  class="nav navbar-nav">
                <!--<ul class="user-navbar">-->
                    <li><%= link_to "サービス概要", '#' %></li>
                    <li><%= link_to "貸したい", items_path %></li>
                    <li><%= link_to "借りたい", items_find_borrowing_path %></li>
                    <li><%= link_to "ランキング", '#' %></li>
                    <li><%= link_to "よくある質問", '#' %></li> 
                <!--</ul>-->
                </ul>
            <!--</div>-->
            </div>
        </div>
    </div>



</nav>

<!--bg-primary-->