<nav class="navbar navbar-default" >
<!--<nav class="navbar navbar-default navbar-static-top" >-->
    <!--<div class="container">-->
        <ul  class="nav navbar-nav">
            <li><%= link_to "サービス概要", '#' %></li>
            <li><%= link_to "貸したい", items_path %></li>
            <li><%= link_to "借りたい", '#' %></li>
            <li><%= link_to "ランキング", '#' %></li>
            <li><%= link_to "よくある質問", '#' %></li>
        </ul>
    <!--</div>-->
</nav>